<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= developerName %></title>
  </head>
  <body>
    <form action="/<%= developerName %>/modify" method="post">
      <div>
        <label for="name">Change developer name: </label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <label for="based_in">Change where developer is from: </label>
        <input type="text" id="based_in" name="based_in" />
      </div>
      <div>
        <label for="employees">Change number of employees: </label>
        <input type="text" id="employees" name="employees" />
      </div>
      <button type="submit">Confirm changes</button>
    </form>
    <% if (developerDetails.length === 0) { %>
    <div>Sorry this developer has no games in our collection.</div>
    <% } else {%> <% developerDetails.map(developer =>{ %>
    <div>
      <%= developer.developer_name %> from <%= developer.based_in %> has <%=
      developer.employees %> employees and has made <%= developer.game_name %>
      <a href="/<%= developer.developer_name %>/<%= developer.game_name %>"
        >View game</a
      >
    </div>
    <form action="/delete-game/<%= developer.game_name %>" method="POST">
      <label for="password2<%= developer.game_name %>">Admin password: </label
      ><input
        type="password"
        id="password2-<%= developer.name%>"
        name="password"
        required
      />
      <input type="hidden" value="<%= developer.game_name %>" name="game" />
      <button type="submit">Delete game</button>
    </form>
    <% }) }%>

    <form action="/new-game" method="POST">
      <legend>Create a new game for <%= developerName %>!</legend>
      <div>
        <label for="name">Game name: </label
        ><input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="genre">Genre: </label
        ><input type="text" id="genre" name="genre" required />
      </div>
      <div>
        <label for="price">Price in dollars: </label
        ><input type="number" id="price" name="price" />
      </div>
      <div>
        <label for="developer_id">Developer ID: </label
        ><input type="number" id="developer_id" name="developer_id" />
      </div>
      <button type="submit">Create the developer</button>
    </form>
  </body>
</html>
